{% extends "index.html" %}

{% block content %}
  <ul class=entries>
    <li><h2>{{ post.title }}</h2>{{ post.text|safe }}
    <br>
    Tags:
    {% if not post.tags %}
      <strong>No tag assigned</strong>
    {% else %}
      {% for tag in post.tags %}
         <strong><a href="{{ url_for('edit_tag', id=tag.id) }}" alt="Edit Tag">{{ tag.tag }}</a></strong>
      {% endfor %}
    {% endif %}
    <br>
    {% if current_user.userd == 'admin' %}
    Change:
    <a href="{{ url_for('edit_post', id=post.id) }}">Edit</a>   | <a href="{{ url_for('delete_post', id=post.id) }}">Delete</a>
    {% endif %}
    <br>
    <a href="{{ url_for('posts') }}">Back</a>
  </ul>
{% endblock %}